<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ddlele.moneytrack">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoneyTrack">
        <activity
            android:name=".View.LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".View.RegisterActivity"
            android:exported="true"
            android:label="@string/title_activity_register" />
        <activity
            android:name=".View.MainActivityAuth"
            android:exported="true"
            android:label="@string/title_activity_auth" />
        <activity
            android:name=".View.Expense.AllExpenseActivity"
            android:exported="true"
            android:label="@string/title_expense_activity" />
        <activity
            android:name=".View.Expense.AddExpenseActivity"
            android:exported="true"
            android:label="AddExpenseActivity" />
        <activity
            android:name=".View.Expense.ViewExpenseActivity"
            android:exported="true"
            android:label="ViewExpenseActivity" />
        <activity
            android:name=".View.Income.AllIncomeActivity"
            android:exported="true"
            android:label="@string/title_expense_activity" />
        <activity
            android:name=".View.Income.AddIncomeActivity"
            android:exported="true"
            android:label="AddIncomeActivity" />
        <activity
            android:name=".View.Income.ViewIncomeActivity"
            android:exported="true"
            android:label="ViewIncomeActivity" />
        <activity
            android:name=".View.Transfer.AllTransferActivity"
            android:exported="true"
            android:label="@string/title_expense_activity" />
        <activity
            android:name=".View.Transfer.AddTransferActivity"
            android:exported="true"
            android:label="AddTransferActivity" />
        <activity
            android:name=".View.Transfer.ViewTransferActivity"
            android:exported="true"
            android:label="ViewTransferActivity" />
        <activity
            android:name=".View.Currency.AllCurrencyActivity"
            android:exported="true"
            android:label="@string/title_expense_activity" />
        <activity
            android:name=".View.Currency.AddCurrencyActivity"
            android:exported="true"
            android:label="AddCurrencyActivity" />
        <activity
            android:name=".View.Currency.ViewCurrencyActivity"
            android:exported="true"
            android:label="ViewCurrencyActivity" />
        <activity
            android:name=".View.Category.AllCategoryActivity"
            android:exported="true"
            android:label="@string/title_expense_activity" />
        <activity
            android:name=".View.Category.AddCategoryActivity"
            android:exported="true"
            android:label="AddCategoryActivity" />
        <activity
            android:name=".View.Category.ViewCategoryActivity"
            android:exported="true"
            android:label="ViewCategoryActivity" />
        <activity
            android:name=".View.Account.AllAccountActivity"
            android:exported="true"
            android:label="@string/title_expense_activity" />
        <activity
            android:name=".View.Account.AddAccountActivity"
            android:exported="true"
            android:label="AddAccountActivity" />
        <activity
            android:name=".View.Account.ViewAccountActivity"
            android:exported="true"
            android:label="ViewAccountActivity" />
        <activity
            android:name=".View.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MoneyTrack.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>